{% extends 'base.html.twig' %}

{% block title %}Welcome to Symfony Create Your Own Adventure!{% endblock %}

{% block body %}
<div class="container-fluid">
    <p class="hidden" id="title">{{title}}</p> 
    {% if app.user != null %}     
        <div class="card col-sm-12 col-md-2 bg-red">
            <div class="card-body">
                <a class="text-decoration-none" href="{{ path('gamebook_view') }}"><h3 class="card-title text-center pt-5 text-white">Gamebooks</h3></a>
            </div>
        </div>    
        <div class="card col-sm-12 col-md-2 bg-red">
            <div class="card-body">
                <a class="text-decoration-none" href="{{ path('adventure_view') }}"><h3 class="card-title text-center pt-5 text-white">Adventures</h3></a>
            </div>
        </div>                                                                                    
    {% else %}
        <p>Please Log in to view this page</p>
    {% endif %}           
</div>        
{% endblock %}
