@import '~bootstrap';
.navRed {
    background-color: #e51515;
}

.bg-red {
    background-color: #e51515;
}

.paleRed {
    background-color: #fd5a5a;
}

.hidden {
    display:none;
}

@media screen and (max-width: 767px) {
    .mobileHidden {
        display:none;
    }
} 

@media screen and (min-width: 767px) {
    .largeHidden {
        display:none;
    }
} 

