@import '~bootstrap';
.navRed {
    background-color: #e51515;
}

.bg-red {
    background-color: #e51515;
}

.paleRed {
    background-color: #fd5a5a;
}

.hidden {
    display:none;
}

.hiddenDirection {
    display:none;
}

.image {
    object-fit: contain;
    width: 100%;
    height: 50px;
  }

@media screen and (max-width: 767px) {
    .mobileHidden {
        display:none;
    }
} 

@media screen and (min-width: 767px) {
    .largeHidden {
        display:none;
    }

    .navbar-right {
        position: absolute;
        right: 0;
    }
} 

